/* COLOUR CODES TO USE */
/* Capri: #3ABEFF */
/* Blue Sapphire: #005E7C */
/* Fire Opal: #EF6461 */
/* Xiketic: #07020d */
/* Skygreen Crayola: #44FFD1 */
/* font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* Global Styles */
/* -------------------------------- */
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font: 18px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #07020d;
}

/* NAVIGATION BAR */
/* -------------------------------- */

li,
a,
button {
  font-size: 16px;
  font-weight: 500px;
}

.nav-bar {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: auto;
  width: 90px;
  margin-left: 20px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 40px;
}

.nav_links li a,
h1 {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: #ef6461;
  text-shadow: 0 2px 2px #07020d;
  font-weight: bolder;
}

.nav_links li a:hover {
  color: #44ffd1;
}

button {
  margin-left: 10px;
  margin-right: 20px;
  padding: 9px 10px;
  background-color: transparent;
  border-radius: 5px;
  border: #44ffd1 medium solid;
  cursor: pointer;
  color: #44ffd1;
  box-shadow: 2px 2px #07020d;
  text-shadow: 2px 2px #07020d;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #ef6461;
}

/* HERO SECTION */
/* -------------------------------- */

.wrapper {
  height: 100vh;
  margin: 0;
  perspective: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hero-container {
  position: relative;
  transform-style: preserve-3d;
  z-index: -1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backdrop {
  transform: translateZ(-20px) scale(2);
}

.background {
  transform: translateZ(-10px) scale(1.5);
}

.foreground {
  transform: translateZ(-5px) scale(1.25);
}

.background,
.foreground {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.backdrop {
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.about-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.hero-container .hero-text h1 {
  display: inline-block;
  font-size: 4rem;
  margin: 1%;
  font-family: "Roboto Mono", monospace;
}

.hero-text {
  width: 100%;
  text-align: center;
}

.hero-text span {
  font-size: 2rem;
}

.hero-container .hero-text p,
.name-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ef6461;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container .icons img {
  width: 10%;
  margin: 2%;
}

.icons img:hover {
  background-color: #ef6461;
  border-radius: 14px;
}

/*  ABOUT ME */
/* -------------------------------- */

.aboutMe {
  min-height: 50vh;
  width: 100%;
  padding: 3%;
  background-color: #07020d;
}

section h4 {
  text-align: center;
  color: #ef6461;
  font-size: 30px;
  padding: 20px;
  font-weight: 700px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

.aboutMe-Container {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 5px #44ffd1 solid;
  background-color: #005e7c;
  color: #44ffd1;
  width: 80%;
  margin: 0 auto;
  padding: 3%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#selfimage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}

.aboutMeText p {
  padding: 3%;
  line-height: 1.5rem;
  font-size: medium;
}

/*  SKILLS*/
/* -------------------------------- */

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 7rem);
  justify-content: center;
  gap: 1rem;
}

.skillitem {
  display: grid;
  border: 3px solid #44ffd1;
  padding: 3%;
}

.skillitem img {
  width: 6rem;
  margin-top: 10px;
  height: 6rem;
}

.skillitem p {
  display: flex;
  color: #ef6461;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
}

/*  MY JOURNEY*/
/* -------------------------------- */

.journey {
  min-height: 50%;
  width: 100%;
  background-color: #07020d;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 40px;
  background-color: #005e7c;
  color: #44ffd1;
  border-radius: 10px;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  border: 5px solid #44ffd1;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  color: #ef6461;
  font-size: medium;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 300;
}

.timeline-content .date {
  font-size: small;
  font-weight: 700;
  color: #3abeff;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* PROJECTS */
/* -------------------------------- */

#project {
  min-height: 50vh;
  width: 100%;
  display: flex;
  padding: 3%;
  justify-content: center;
  background-color: #07020d;
  align-items: center;
  flex-direction: column;
}

.project_container {
  width: 100%;
  max-width: 90%;
  position: relative;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.image {
  position: relative;
  flex: 1;
  max-width: 80%;
  height: 300px;
  margin: 20px;
  overflow: hidden;
}

.image img {
  position: relative;
  transition: 0.6s;
  transition-property: opacity;
  width: 150%;
  height: 100%;
  vertical-align: middle;
  filter: brightness(50%);
}

.image:hover img {
  opacity: 2;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #ef6461;
  width: 100%;
  height: 100%;
  border: 3px solid #44ffd1;
  text-shadow: #07020d;
}

.image .details h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
  text-shadow: #07020d;
}

.image .details h2 span {
  font-weight: 900;
  display: block;
}

.image:hover .details h2 {
  transform: translateY(-30px);
}

.image .details p {
  margin: 10px 20px 0 20px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}

.image:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
}

.more {
  position: absolute;
  background-color: #005e7c;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  bottom: -70px;
  transition: 0.6s;
  transition-property: bottom;
  filter: brightness(150%);
}

.skills-icon img {
  width: 30px;
}

.image:hover .more {
  bottom: 0;
}

.more .click-here {
  color: #44ffd1;
  text-decoration: none;
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
}

.more .click-here span {
  font-weight: 900;
}

.more .icon-links i {
  color: #07020d;
  font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
  margin-right: 20px;
}

.icon-links img {
  width: 30px;
}

.icon-links img:hover {
  background-color: #ef6461;
  border-radius: 14px;
}

/* CONTACT ME */
/* -------------------------------- */

.in-touch {
  min-height: 20vh;
  width: 100%;
  padding: 20px 20px;
  justify-content: center;
  background-color: #07020d;
  align-items: center;
}

.in-touch h1 {
  color: #ef6461;
  margin-bottom: 10px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.skill-container-footer {
  justify-content: center;
  display: flex;
}

.skill-container-footer .icons img {
  width: 70px;
  padding: 5px;
}

/* Media Queries */
/* -------------------------------- */

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: #ef6461;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-15px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(15px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ef6461;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(75%, -25%);
    right: -15px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-75%, -50%);
    left: -15px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
    color: #ef6461;
  }
  .timeline ul li:hover::before {
    background-color: #44ffd1;
  }

  .image .details p {
    font-size: 16px;
  }

  .more .click-here,
  .more .icon-links a i {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1080px) {
  .image {
    flex: 100%;
    max-width: 480px;
  }

  .aboutMe-Container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3%;
  }
}

@media only screen and (max-width: 400px) {
  .image .details p {
    font-size: 16px;
  }

  .more .click-here,
  .more .icon-links a i {
    font-size: 18px;
  }

  /* ABOUT ME */
  .aboutMe {
    min-height: 100vh;
    background-color: #07020d;
  }

  .aboutMeText p {
    padding: 3%;
    font-size: small;
  }

  section h4 {
    font-size: 20px;
  }

  .aboutMe-Container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2%;
  }

  .nav-bar {
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: none;
    align-items: none;
  }

  .logo {
    width: 40%;
    display: inline-block;
  }

  .nav_links li {
    display: inline-block;
    padding: 0px;
  }

  .nav_links li a {
    display: inline-block;
    padding: 0px;
    font-size: small;
  }

  button {
    margin-left: 10px;
    margin-right: 20px;
    padding: 9px 10px;
    background-color: transparent;
    border-radius: 5px;
    border: #44ffd1 medium solid;
    cursor: pointer;
    color: #44ffd1;
    box-shadow: 2px 2px #07020d;
    text-shadow: 2px 2px #07020d;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: #ef6461;
  }
}
